In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [24]:
df = pd.read_csv(r"G:\My Drive\4b - Courses\9 - Data Science\Datasets\ALL CSV FILES - 2nd Edition\Advertising.csv", index_col=0)
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [25]:
X = df.drop(columns=["sales"])
y = df.sales
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.8, random_state=2)

In [26]:
lreg = LinearRegression()
lreg.fit(X_train, y_train)
R2_train = lreg.score(X_train, y_train)
R2_test = lreg.score(X_test, y_test)

data = lreg.coef_.tolist()
data.insert(0,lreg.intercept_)
index = X.columns.insert(0,"Intercept")
dg = pd.DataFrame(data=data, index=index, columns=['Beta Value'])
dg

           Beta Value
Intercept    2.969752
TV           0.045978
radio        0.186749
newspaper   -0.005937